<section id="contact" class="container py-5">

    <h1>Contact</h1>

    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur voluptates labore pariatur aut numquam
        aspernatur amet, voluptatum quod repellendus atque quibusdam molestiae inventore, perspiciatis, nostrum hic modi
        quis. Minima velit facere maiores ex nobis sapiente. Quod.
    </p>

    <div class="contact-box">

        <form >

            <div class="mb-3 row">

                <label class="col-sm-3 col-form-label fw-bold text-end">
                    Your E-mail
                </label>

                <div class="col-md-9">
                    <input type="email" class="form-control" placeholder="Your email">
                </div>

            </div>

            <div class="mb-3 row">

                <label class="col-sm-3 col-form-label fw-bold text-end">
                    Your message
                </label>

                <div class="col-md-9">
                    <textarea class="form-control" rows="5" placeholder="Please enter your message here..."></textarea>
                </div>

            </div>

            <div class="text-end">

                <button class="btn btn-primary">
                    Submit
                </button>

            </div>

        </form>

    </div>

</section>