<section id="about" class="container ">

    <div class="row align-items-start">

        <div class="col-md-8">

            <h1>
                This First Heading
                <span class="text-secondary">
                    Will Catch Your Eye
                </span>
            </h1>

            <p>
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Reiciendis voluptatum est vero sunt natus dignissimos,
                 doloribus eligendi, aperiam minus quo accusamus illum 
                 velit neque. Repudiandae ratione
            </p>

        </div>

        <div class="col-md-4 text-center about-image">

            <img
                src="assets/img/1.jpg"
                class="rounded-circle img-fluid"
                alt="">

        </div>

    </div>

</section>