<section id="portfolio" class="container py-5">

    <h1>Portfolio</h1>

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iste facere, et nesciunt recusandae, consequuntur autem impedit illum ipsum, distinctio repudiandae ratione? Maxime hic tenetur culpa aspernatur odio optio.
    </p>

    <div class="row">

        <div class="col-md-4">

            <div class="card border-0">

                <img
                    src="https://placehold.co/700x400"
                    class="card-img-top">

                <div class="card-body">

                    <h5 class="text-primary">
                        Project Name
                    </h5>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card border-0">

                <img
                    src="https://placehold.co/700x400"
                    class="card-img-top">

                <div class="card-body">

                    <h5 class="text-primary">
                        Project Name
                    </h5>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>

                </div>

            </div>

        </div>

        <div class="col-md-4">

            <div class="card border-0">

                <img
                    src="https://placehold.co/700x400"
                    class="card-img-top">

                <div class="card-body">

                    <h5 class="text-primary">
                        Project Name
                    </h5>

                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    </p>

                </div>

            </div>

        </div>

    </div>

</section>